#darkModeToggle {
  background-size: contain; /* 画像をボタンのサイズに合わせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 画像を中央に配置 */
  border: none; /* 枠線を削除 */
  cursor: pointer; /* カーソルをポインターに変更 */
  background-color: transparent; /* 背景を透明にする */
  background-image: url('moon.png');
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 100;
  width: 50px;
  height: 50px;
  padding: 5px; /* パディングを追加 */
  border-radius: 50%; /* ボタン全体を円形にする */
  background-color: #ffffff; /* 背景色と不透明度 */
  border : 3px solid #626262;
}

html {
  transition: filter 0.1s ease-in-out; /* filterプロパティの変化にトランジションを追加 */
}

html[theme='dark-mode'] {
  filter: invert(1) hue-rotate(180deg); /* 必要であれば残す */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d3fcff;
    transition: opacity 2s ease, background-color 0.5s ease; /* 背景色変更のトランジションを追加 */
}


#logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transition: all 0.5s ease; /* ロゴ縮小時のトランジション */
}

#logoImage {
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 2;
    transition: all 0.5s ease; /* ロゴ縮小時のトランジション */
}

#circleText {
    width: 300px;
    height: 300px;
    margin: 100px auto;
    font-size: 12px;
  }
  #svg {
    overflow: visible;
  }
  #circle {
    fill: none;
  }
  #text {
    font-family: 'Noto Serif', serif; /* フォントファミリーを設定 */
    font-size: 10em; /* フォントサイズを10倍に */
    font-weight: bold; /* 文字を太く */
    fill: #5C70F6; /* 文字色を設定 */
    opacity: 1; /* 初期不透明度 */
    transition: opacity 2s ease; /* フェードアウトのトランジション */
    margin-top: 0rem;
    position: absolute; /* 既存のスタイルに加えて absolute を追加 */
    top: 0;
    left: 0;
    z-index: 1; /* SVGを背面に */
  }

/* コンテンツエリア */
#home2Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 10;
}

#home2Content h1 {
  font-size: 3em;
  font-family: 'Noto Serif', serif;
  color: #5C70F6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#home2Content p {
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
  color: #333;
}

#startButtonContainer button{
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5C70F6;
  color: #fff;
  transition: background-color 0.3s ease;
}

#startButtonContainer button:hover {
  background-color: #3e50b4;
}