#darkModeToggle {
  background-size: contain; /* 画像をボタンのサイズに合わせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 画像を中央に配置 */
  border: none; /* 枠線を削除 */
  cursor: pointer; /* カーソルをポインターに変更 */
  background-color: transparent; /* 背景を透明にする */
  background-image: url('moon.png');
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 100;
  width: 50px;
  height: 50px;
  padding: 5px; /* パディングを追加 */
  border-radius: 50%; /* ボタン全体を円形にする */
  background-color: #ffffff; /* 背景色と不透明度 */
  border : 3px solid #626262;
}

html {
  transition: filter 0.1s ease-in-out; /* filterプロパティの変化にトランジションを追加 */
}

html[theme='dark-mode'] {
  filter: invert(1) hue-rotate(180deg); /* 必要であれば残す */
}

body{
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b6b6b6;
}
#logo{    
    width: 300px;
    height: 100px;
}
#map {
    width: 90vw; /* 画面幅の90% */
    height: 75vh; /* 画面高さの50% */
    margin: 0 auto; /* 中央寄せ */
    border: 5px solid #adefff;
    border-radius: 20px;
    top: 50px;
    z-index: 1;
}
#locateButton{
    position: absolute;
    top: 180px;
    left: 20px;
    z-index: 1;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 4px 9px;
}

#search-container {
  position: absolute;
  top: 120px; /* ロゴの下に配置 */
  left: 5vw;
  z-index: 1; /* マップの上に表示 */
}

#searchBox {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 2;
}

#searchButton {
  padding: 5px 10px;
  background-color: #4CAF50; /* 緑色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

#routeButton {
  padding: 5px 10px;
  background-color: #4CAF50; /* 緑色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* z-index: 2; */
}

#mypageTo {
  padding: 10px 20px;  /* ボタンの余白 */
  margin-left: 10px; /* 左側のボタンとの間隔 */
  background-color: #4CAF50; /* 緑色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 8%;
  right: 10%;
  z-index: 1;
}

#addPointTo {
  padding: 10px 20px;  /* ボタンの余白 */
  margin-left: 10px; /* 左側のボタンとの間隔 */
  background-color: #4CAF50; /* 緑色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 8%;
  right: 20%;
  z-index: 1;
}